{# app/Resources/views/Booking/index.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div id="breadcrumb">
        <ol class="breadcrumb well">
            <li class="breadcrumb-item active">Choix de la date</li>
            <li>Votre panier</li>
            <li>Confirmation</li>
            <li>Paiement</li>
            <li>Récapitulatif</li>
        </ol>
    </div>

    <div class="col-sm-7 text-center well">
        <h2>Choix de la date et du nombre de billets</h2>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        <h5>1 . Choisissez la date de votre visite</h5>
        <div id="datepicker" data-date="now"></div>
        <input type="hidden" id="my_hidden_input">

        {{ form_row(form.ticketType) }}
        {{ form_label(form.nbTicket, '3 . Choisissez le nombre de billets souhaités' ) }}
        {{ form_row(form.nbTicket) }}
        {{ form_row(form.save) }}
        {{ form_row(form.nextstep) }}
    </div>

    <div class="col-sm-5 text-center well">
        <h3>Votre panier</h3>
    </div>

    <div class="col-sm-5 text-center well">
        <h4>Tarification</h4>
        <ul class="list-unstyled list-group">
            <li class="list-group-item">Tarif journée : 16 € ( pour les 13 à 60 ans )</li>
            <li class="list-group-item">Tarif demi-journée : 8 €</li>
            <li class="list-group-item">Tarif enfant :  8 € ( pour les  4 à 12 ans )</li>
            <li class="list-group-item">Tarif sénior : 12 € ( à partir de 60 ans )</li>
            <li class="list-group-item">Tarif réduit : 10 € <br/>
                ( étudiants, militaires, employés du musée ou d'un service du Ministère de la Culture )</li>
            <li class="list-group-item">Entrée gratuite pour les enfants de moins de 4 ans</li>
        </ul>
    </div>

{% endblock %}
