{# app/Resources/views/Booking/index.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div id="breadcrumb" xmlns="http://www.w3.org/1999/html">
        <ol class="breadcrumb well">
            <li class="breadcrumb-item active">Choix de la ticketDate</li>
            <li>Votre panier</li>
            <li>Confirmation</li>
            <li>Paiement</li>
            <li>Récapitulatif</li>
        </ol>
    </div>

    <div class="col-sm-7 text-center well">
        <h2>Choix de la date et du nombre de billets</h2>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {% if not form.vars.valid %}
            <div class="col-xs-6 col-xs-offset-4 alert alert-warning alert-dismissible mb-50 warningMessage">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>{{ form_errors(form.ticketDate) }}</p>
                <p>{{ form_errors(form.ticketType) }}</p>
                <p>{{ form_errors(form.nbTickets) }}</p>
            </div>
        {% endif %}

        <div id="datepicker" data-date="now">
            <div style="display: none">{{ form_row(form.ticketDate) }}</div>
        </div>


        {{ form_row(form.ticketType) }}
        {{ form_label(form.nbTickets, '3 . Choisissez le nombre de billets souhaités' ) }}
        {{ form_row(form.nbTickets) }}

        <input type="submit" value="Annuler" class="btn btn-danger" />
        <input type="submit" value="Etape suivante" class="btn btn-primary" />

        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>

    <div class="col-sm-5 text-center well">
        <h3>Votre panier</h3>
    </div>

    <div class="col-sm-5 text-center well">
        <h4>Tarification</h4>
        <ul class="list-unstyled list-group">
            <li class="list-group-item">Tarif journée : 16 € ( pour les 13 à 60 ans )</li>
            <li class="list-group-item">Tarif demi-journée : 8 €</li>
            <li class="list-group-item">Tarif enfant :  8 € ( pour les  4 à 12 ans )</li>
            <li class="list-group-item">Tarif sénior : 12 € ( à partir de 60 ans )</li>
            <li class="list-group-item">Tarif réduit : 10 € <br/>
                ( étudiants, militaires, employés du musée ou d'un service du Ministère de la Culture )</li>
            <li class="list-group-item">Entrée gratuite pour les enfants de moins de 4 ans</li>
        </ul>
    </div>

{% endblock %}
